{% extends 'base.html' %}
{% block nav %}
    <a class="nav-link" href="{% url 'create' %}">Добавить статью</a>
{% endblock %}
{% block content %}
<div class="container">
    <div class="border rounded-3 my-4 d-flex justify-content-between p-3">
        <h1>Статьи</h1>
    </div>
    <div class="row row-cols-md-3 g-4">
        {% for task in tasks %}
            <div class="col">
                <div class="card border-secondary h-100 mb-3">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title">Название: {{ task.description }}</h5>
                    </div>
                    <div class="card-body text-secondary d-flex flex-column">
                        <p>Статус: {{ task.status }}</p>
                        <p>Срок до: {{ task.due_date }}</p>
                        <div class="d-flex justify-content-between">
                            <a href="{% url 'detail' task.id %}" class="card-link">
                                Подробнее
                            </a>
                            <a href="/task/delete/{{ task.id }}" class="card-link text-danger">
                                Удалить
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>Нет данных</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
