<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="title">Tasks</h1>
    {% for task in tasks %}
        <div class="card mb-2" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ task.description }}</h5>
                <p class="card-text">Статус: {{ task.status }}</p>
                <p class="card-text">Дата: {{ task.due_date|default:"нет даты" }}</p>
                <a href="/task/{{ task.id }}/" class="card-link">Просмотр</a>
                <a href="/tasks/delete/{{ task.id }}/" class="card-link">Удалить</a>
            </div>
        </div>
    {% empty %}
        <p>Нет задач</p>
    {% endfor %}
    <a href="/task/create/" class="btn btn-primary">Новая задача</a>
</div>
</body>
</html>
