{% extends 'base.html' %}
{% block nav %}
    <a class="nav-link" href="/task/create/">Добавить статью</a>
{% endblock %}
{% block content %}

    <div class="card mb-3">
        <div class="card-header ">
            <h5 class="card-title">Название: {{ task.description }}</h5>
        </div>
        <div class="card-body text-secondary d-flex flex-column">
            <p>Описание: {{ task.detail_description }}</p>
            <p>Статус: {{ task.status }}</p>
            <p>Срок до: {{ task.due_date }}</p>
        </div>
    </div>
{% endblock %}
