<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Task</title>
</head>
<body>

<h1>Create Task</h1>
<form action="" method="post">
    {% csrf_token %}
    <label>Description:</label><br/>
    <input type="text" name="description" required/><br/>
    <label>Detail-description:</label><br/>
    <input type="text" name="detail_description" required/><br/>

    <label>Status:</label><br/>
    <select name="status">
        <option value="new">Новая</option>
        <option value="in_progress">В процессе</option>
        <option value="done">Сделано</option>
    </select><br/>

    <label>Due date:</label><br/>
    <input type="text" name="due_date" placeholder="YYYY-mm-dd"/><br/>

    <br/>
    <input type="submit" value="Send"/>
</form>

</body>
</html>
